* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    font-family: 'Poppins', sans-serif;;
}

.navbar{
    width: 100%;
    height: 100px;
    position:fixed;
    top:0;
    background: #1f2235;
}

.navbar__container{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 10px;
    width: 130px;
}

.navbar__right{
    display: flex;
    list-style-type: none;

}

.navbar__right li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 0 15px;
}



/* Helpers*/

.container{
    width: 1200px;
    margin:0 auto;
}

/* gridSystem*/

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-6{
    width: 50%;
    height: 100px;

}

.col-4{
    width: 33.33333%;

}

/*header */

.header__content{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 170px;
    padding: 12px;
}

.head__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 32px;
}

.head__ul li{
    width: 50px;
    height: 50px;
    border: 2px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.head__ul li:first-child{
margin-left: 0px;
}

.header__section h1{
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header__section p{
    font-size: 26px;
    font-weight:300;
    line-height: 40px;
    margin-bottom: 55px;
}

.btn{
    outline: none;
    border: none;
    color: black;
    text-decoration: none;
}

.btn-outline{
    border: 2px solid #ff4a57 ;
    padding: 13px 40px;
    border-radius: 50px;
}

.btn-smart{
    background-color: #ff4a57;
    padding: 13px 40px;
    border-radius: 50px;
}

.banner__img{
    padding: 0 40px 0 100px;
    margin-top: 200px;
    
}

.bimg{
    height: 100%;
    width: 100%;
}

/*Services */

.services__header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    margin:150px auto 0 auto;
    padding: 12px;
}

.heading{
    margin-bottom: 20px;
    font-weight: 800;

    color: #ff4a57;
}

.mainHeader{
    font-size: 32px;
    margin-bottom: 20px;
}

.mainContent{
    font-size: 16px;
}

.commonBorder{
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
}

.services__box{
    padding: 40px;
    background: #caf7e3;
    margin: 20px;
}

.commonIcons{
    color:#1f2235;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.services__box-header{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services__box-p{
    font-size: 16px;
}
