/* .navbar{
    width: 100%;
    height: 100px;
    position:fixed;
    top:0;
    background: #1f2235;
}

.navbar__container{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
} */

/* .navbar__right{
    display: flex;
    list-style-type: none;

}

.navbar__right li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 0 15px;
} */


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
}

.logo{
    color: inherit;
    font-family: 'PT Serif', serif;
    font-size: 2.5rem;
}

nav a.nav-link{
    color: #6e7c7c !important;
    font-weight: 500;
    letter-spacing: 0.0357rem;
    cursor :pointer;
    border-top: 0.1875rem solid white !important;
}

nav a.nav-link:hover{
    color: #435560 !important;
}

nav a.nav-link:focus{
    border-top: 0.1875rem solid #ff4a57 !important;
}

nav ul li{
    text-transform: uppercase;
}



.btn-menu {
    padding: 23px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 19px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: 0.3s ease;
    border: none !important;

}
.btn-menu:hover{
    background-color: #f7f6e7;
    border :1px solid ;
    border-radius:0 !important;
}
.btn-menu:focus {
    outline: none;
}
.btn-menu__text {
    margin-left: 10px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
}
.btn-menu__bars {
    display: block;
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #435560;
    transition: 0.3s;
}
.btn-menu__bars:before, .btn-menu__bars:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #435560;
    transition: 0.3s;
}
.btn-menu__bars:before {
    transform: translate(0, -8px);
}
.btn-menu__bars:after {
    transform: translate(0, 8px);
}
.menu-open .btn-menu .btn-menu__bars {
    background-color: transparent;
}
.menu-open .btn-menu .btn-menu__bars:before {
    transform: rotate(45deg);
}
.menu-open .btn-menu .btn-menu__bars:after {
    transform: rotate(-45deg);
}


/* Particles*/

.tsparticles-canvas-el{
    position:absolute !important;
    height: 100vh !important;
    width: 90% !important;
    padding: 15px 5% !important;
    z-index: 0;
    color: pink !important;
}




/* Helpers*/

.container{
    width: 100%;
    margin:0 auto;
}

/* gridSystem*/

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


/*header */

.banner{
    margin-top:0px;
}

.header__content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 150px 12px 12px 12px;
}

.head__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 32px;
}

.head__ul li{
    width: 50px;
    height: 50px;
    border: 2px solid #ff4a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.head__ul li:hover{
    cursor :pointer;
    background-color: #ff4a57;
}

.head__ul li:first-child{
margin-left: 0px;
}

.header__section h1{
    width: 480px;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header__section p{
    font-size: 26px;
    font-weight:300;
    line-height: 40px;
    margin-bottom: 55px;
}

.btn{
    outline: none;
    border: none;
    color: black;
    text-decoration: none;
}

.btn-outline{
    border: 2px solid #ff4a57 ;
    padding: 13px 40px;
    border-radius: 50px;
}

.btn-smart{
    background-color: #ff4a57;
    padding: 13px 40px;
    border-radius: 50px;
}

.banner__img{
    padding: 0px 10px 0 40px; 
    margin-left: 0px;  
    align-items: center;
}

.bimg{
    height: 100%;
    width: 100%;
}






/*   projects   */


.projects{
    margin-top: 20px;
}

.projects__header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    padding: 12px;
}

.heading{
    margin-bottom: 10px;
    font-weight: 800;
    color: #ff4a57;
}

.mainHeader{
    font-size: 42px;
    margin-bottom: 10px;
}

.mainContent{
    font-size: 20px;
    margin-bottom: 5px;
}

.author{
    color: #ff4a57;
}

.commonBorder{
    background: #ff4a57;
    height: 3px;
    width: 100px;
    margin: 30px auto;
}


.projects__box{
    background: linear-gradient(0deg, #fcf5f5 50%, #edd3d3 110%);
    /* padding: 5px; */
    /* background: #caf7e3; */
    margin: 20px;
    /* border: 1.5px solid black; */
    border-radius: 2%;
    /* min-height: 350px; */
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}


.projects__icons{
    border-radius: 2.2%;
    /* background-color: #c7ffd8; */
    align-items: center;
    color:#1f2235;
    width: 100%;
    height: 85px;
    margin-bottom: 35px;
    
}


.icon{
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
}


.commonIcons{
    padding: 3px;
    border-radius: 50%;
    background-color: white;
    color:#1f2235;
    width: 85px;
    height: 85px;
    margin-top: 45px;
}

.projects__box-header{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.projects__box-p{
    /* text-align: center; */
    padding: 0 20px 40px 20px;
    font-size: 16px;
}


/*About */

.about{
    margin-top: 120px;
}

.about__header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    margin:0 auto;
    padding: 12px;
}






/* ------------------------------------------------------- MID SCREEN -------------------------------------------------------- */


@media (min-width: 768px) and (max-width: 991px){
    body{
        padding: 4px;
        /* background-image: url("\public\images\man-02.png"); */
    }
    .bannerImg{
        display:none;
    }
    .bimg{
        height: 390px;
        width: 370px;
    }
    .banner__img{
        padding: 50px 0px 0 10px;   
    }
    .container{
        width: 100%;
        margin:0 auto;
    }

    /*  PROJECT */

    .mainHeader{
        font-size: 40px;
    }
    
}






/* ------------------------------------------------------- MOBILE SCREEN -------------------------------------------------------- */


@media (max-width: 767px){
    body{
        padding: 4px;
    }

    .logo{
        font-size: 2.2rem;
    }

    .bannerImg{
        display:none;
    }

    .banner{
        margin-top:0px;
    }
    .header__section h1{
        font-size: 35px;
    }
    .container{
        width: 100%;
        margin:0 auto;
    }

      /*  PROJECT */

    .mainHeader{
        font-size: 36px;
    }
    
}